<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>mycar</display-name>
  <welcome-file-list>
    <welcome-file>register.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.safeCar.ctrl.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/LR.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AdminServlet</servlet-name>
  	<servlet-class>com.safeCar.ctrl.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminServlet</servlet-name>
  	<url-pattern>/adm.action</url-pattern>
  </servlet-mapping>
    <!--中文乱码处理过滤-->    
    <filter>  
        <filter-name>EncodingFilter</filter-name><!--过滤器名称，自己起 -->  
        <filter-class>com.safeCar.filter.EncodingFilter</filter-class><!--过滤器类名称，包括包名一致、写全 -->  
        <init-param><!--初始化参数,要指定的字符集编码 -->  
            <param-name>encoding</param-name><!--参数名称 -->  
            <param-value>utf8</param-value><!--参数值 -->  
        </init-param>  
        <init-param><!--初始化参数,指定是否忽略大小写 -->  
            <param-name>ignore</param-name>  
            <param-value>true</param-value>  
        </init-param>  
    </filter>  
    <filter-mapping>  
        <filter-name>EncodingFilter</filter-name>  
        <url-pattern>/*</url-pattern> 
    </filter-mapping>  
  <!--中文乱码处理过滤 --> 
  <!-- session过滤器 -->
  	
   <filter>
  	<filter-name>sessionFilter</filter-name>
  	<filter-class>com.safeCar.filter.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>sessionFilter</filter-name>
  	<url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>sessionFilter</filter-name>
  	<url-pattern>*.action</url-pattern>
  </filter-mapping>
   <!-- ip过滤器 -->
  	
   <filter>
  	<filter-name>IPFilter</filter-name>
  	<filter-class>com.safeCar.filter.IPFilter</filter-class>
  	 <init-param>
    <param-name>IPFilter</param-name>
    <param-value>127.0.0.1</param-value>
    </init-param>
  </filter>
  <filter-mapping>
  	<filter-name>IPFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>